/* David Magee, VFW 0512*/

body {
	background-image: linear-gradient(bottom, rgb(217,217,217) 33%, rgb(138,138,138) 68%);
	background-image: -o-linear-gradient(bottom, rgb(217,217,217) 33%, rgb(138,138,138) 68%);
	background-image: -moz-linear-gradient(bottom, rgb(217,217,217) 33%, rgb(138,138,138) 68%);
	background-image: -webkit-linear-gradient(bottom, rgb(217,217,217) 33%, rgb(138,138,138) 68%);
	background-image: -ms-linear-gradient(bottom, rgb(217,217,217) 33%, rgb(138,138,138) 68%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(217,217,217)),
		color-stop(0.68, rgb(138,138,138))
);
}

h1 {
	margin: 10px 15px;
	padding: 15px 5px;
	border: 3px outset black;
	color: white;
	font-family: Trebuchet MS, Tahoma, Geneva;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: black 0.1em 0.1em 0.2em;
	letter-spacing: .01em;
	background-image: linear-gradient(bottom, rgb(52,54,99) 33%, rgb(36,90,171) 68%);
	background-image: -o-linear-gradient(bottom, rgb(52,54,99) 33%, rgb(36,90,171) 68%);
	background-image: -moz-linear-gradient(bottom, rgb(52,54,99) 33%, rgb(36,90,171) 68%);
	background-image: -webkit-linear-gradient(bottom, rgb(52,54,99) 33%, rgb(36,90,171) 68%);
	background-image: -ms-linear-gradient(bottom, rgb(52,54,99) 33%, rgb(36,90,171) 68%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(52,54,99)),
		color-stop(0.68, rgb(36,90,171))
	);
}

p { 
	margin: 10px 15px;
	padding: 15px 5px;
	border: 1px outset black;
	color: white;
	text-align: center;
	font-family: Tahoma, Geneva, Georgia;
	background-color: #0099CC;
}

fieldset {
	color: white;
	margin: 10px 15px;
	padding: 15px 5px;
	border: 1px outset black;
	background-color: #0099CC;
	text-shadow: black 0.1em 0.1em 0.2em;
	
}

label {
	display: block;
}

legend {
	padding: 0px 5px;
	border: 1px solid black;
	font-size: 30px;
	color: black;
	background-color: #F0F0F0;
	text-shadow: white 0.05em 0.05em 0.2em;
}

a{
	text-decoration: none;
	a:visited {color:#00FF00;}
}

ul, li {
    font-size: 20px;
    list-style-type: none;
}

div {
	border: 1px outset black;
	margin: 10px 15px;
	padding: 15px 5px;
	background-color: #0099CC;
}

#titleSec {
	border: none;
	margin: none;
	padding: none;
	background: none;
}

#searchBar {
	border: none;
	margin: none;
	padding: none;
	background: none;
}

#buttonLink {
	border: none;
	margin: none;
	padding: none;
	background: none;
	
	
}
*/



/*img {
	display: block;
}*/



/*
h2 {
	margin: 10px 15px;
	padding: 15px 5px;
	border: 3px outset black;
	background-color: #0099CC;
	height: 95px;
}
*/

h3 {
	display:block;
}

#browsePlanets {
	border: none;
	margin: none;
	padding: none;
	background-color: none;
	background: none;
}

#browseSkills {
	border: none;
	margin: none;
	padding: none;
	background-color: none;
	background: none;
}

#browseMorality {
	border: none;
	margin: none;
	padding: none;
	background-color: none;
	background: none;
}

#browseCharacter {
	border: none;
	margin: none;
	padding: none;
	background-color: none;
	background: none;
}

#browseGenders {
	border: none;
	margin: none;
	padding: none;
	background-color: none;
	background: none;
}
/* background-color: #006699; for h1 , background-color: #D8D8D8; for body */


